html, body{
    background-color:#3D3D3D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topnav{
    background-color:#FDD007 ;
    overflow: hidden;
    border-bottom: 2px solid #000000 ;
}

.topnav a{
    float: right;
    display: inline-block;
    padding: 18px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.topnav a:hover{
    background-color: #000000;
    color: #FDD007;
    height: 72px;
}

.logo{
    float: left;
    display: inline-block;
    padding: 18px 15px ;
    font-size: 30px;
    padding-left: 40px;

}

.topnav .current{
    color:white
}

.pic img{
    object-fit: cover;
    width: 100%;
    
}

.header{
    position: relative;
    text-align: center;
    color: white;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}



.container {
    font-size: 28px;
    text-align: center;
    color:#FDD007;
    
}

.row{
    margin: 20px;
    display: flex;
}

.paragraph{
    flex: 1;
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: white;

}

img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
footer{
    background-color:#FDD007;
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
}
article h1{
    font-size: 20px;
    padding: 20px;
}
article#main-col{
    float: left;
    width: 65%;
    color: white;

}

ul#services li{
    list-style: none;
    padding: 20px;
    border: black solid 1px;
    margin-bottom: 5px;
    background-color: #35424a;    
}

.containers{
    width:80%;
    margin:auto;
    overflow:hidden;
}

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 812px){
    .topnav .logo, .topnav a{
        float:none;
        width: 100%;
        text-align: center;
    }
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 60px;
    }
  
@media (max-width: 450px){
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 90px;
    }
}